{% extends "network/layout.html" %}





{% block body %}
    
    
    <div style="border-bottom: 1px solid lightgrey; position: sticky; top: 0; background-color: white; z-index: 5;">
        <div id="title" class="ms-4 mb-4 pt-3 fw-semibold fs-4"></div>
    </div>

    
   

    {% if user.is_authenticated %}                  
    
    <div id="new_post_container" class="row mx-1 header_top">
        <div class="col-1 text-center" style="position: relative">
            <i class="bi bi-person-circle fs-1 m-2 back_custom" ></i>

            <small style="position: absolute; top: 45px; left: 15px; z-index: -5;" class="mt-0">@{{user.username}}</small>
        </div>
        <form class="col" id="new_post">
            <span class="my-3 badge rounded-pill text-primary outline_custom">Everyone <i class="bi bi-chevron-down" style="cursor: pointer;"></i></span>
            <textarea autofocus class="m-1 fs-5" id="post_body" rows=1 placeholder="What is happening?!"></textarea>
            <br>
            <div class="mt-3 d-flex justify-content-between align-items-center top_border_custom">
                <div class="d-flex">
                    <div class="mx-1 icons_custom d-flex justify-content-center align-items-center">
                        <i class="bi bi-image text-primary"></i>
                    </div>
                    <div class="mx-1 icons_custom d-flex justify-content-center align-items-center">
                        <i class="bi bi-filetype-gif text-primary"></i>
                    </div>
                    <div class="mx-1 icons_custom d-flex justify-content-center align-items-center">
                        <i class="bi bi-emoji-smile text-primary"></i>
                    </div>
                    <div class="mx-1 icons_custom d-flex justify-content-center align-items-center">
                        <i class="bi bi-calendar-check text-primary"></i>
                    </div>
                    <div class="mx-1 icons_custom d-flex justify-content-center align-items-center">
                        <i class="bi bi-geo-alt text-primary"></i>
                    </div>

                </div>

                <input class="my-3 btn btn-primary round_custom"  type="submit" value="Psstweet!">
            </div>
        </form>
    </div>

    {% endif %}

    

    <div id="user_info" style="display: none;"></div>

    <div id="edit_user_info"  class="modal modal-content">
        
        <div id="title" class="mx-auto mb-4 fw-semibold fs-4 text-center">Edit user</div>
        
        <form id="edit_user_form" class="d-flex justify-content-center align-items-center flex-column">
        

            <div class="form-floating mb-3">
              <input  type="text" class="form-control" id="user_username"  placeholder="Username" autofocus>
              <label for="username">Username</label>
            </div>

            <div class="form-floating mb-3">
              <input  type="email" class="form-control" id="user_email"  placeholder="Email">
              <label for="user_email">Email</label>
            </div>


            <div class="form-floating mb-3">
              <input  type="text" class="form-control" id="user_name"  placeholder="Name">
              <label for="user_name">Name</label>
            </div>


            <div class="form-floating mb-3">
              <input  type="text" class="form-control" id="user_surname"  placeholder="Surname">
              <label for="user_surname">Surname</label>
            </div>

            
            <button id="dismiss_edit_user" class="btn btn-secondary round_custom mb-2"> Dismiss </button>    
            <input class="btn btn-secondary round_custom" type="submit" value="Save">
                
            

        </form>
    </div>

    




    
    <div id="posts_view" style="display: none; "></div>


    

    
    
{% endblock %}

